### Heroes Of Pymoli Data Analysis
* There are a total of 576 Players of which 83.6% are male and 14.5% are females.

* A majority of players (77.17%) are between the ages 15 years to 30 years. 46.79% players are in the 20-24 age group category with also the highest purchase value of $1114.06. 

* The most popular Item is "Oathbreaker, Last Hope of the Breaking Storm" with the highest purchase value of $50.76. 
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
original_file = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(original_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#set dataframe 
df=pd.DataFrame(purchase_data)

In [3]:
#Player Count 
player_count = df["SN"].nunique()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Number of Unique items
unique_item = df["Item ID"].nunique()
unique_item

183

In [56]:
#Average Price 
avg_price = df["Price"].mean()
avg_price

3.050987179487176

In [6]:
#Total Purchases 
tot_purchase =df["Purchase ID"].count()
tot_purchase

780

In [57]:
#Total Revenue
tot_revenue = df["Price"].sum()
tot_revenue

2379.77

In [58]:
#Summary data 
summary_data = pd.DataFrame ({"Unique Items": unique_item,
                             "Average Price ": avg_price,
                             "Total Purchase": tot_purchase, 
                             "Total Revenue": tot_revenue}, index=[0])
summary_data

   Average Price   Total Purchase  Total Revenue  Unique Items
0        3.050987             780        2379.77           183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [59]:
#Count by Gender 
by_gender =df.groupby("Gender")
count_by_gender = by_gender["Gender"].count()
count_by_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [60]:
# Gender Column Total 
gender_total = count_by_gender.sum()
gender_total

780

In [61]:
#Percentage calculation
percent_gender = count_by_gender/gender_total.sum()
percent_gender = percent_gender*100
percent_gender

Gender
Female                   14.487179
Male                     83.589744
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [43]:
#Summary table for Percentage Distribution of Players
percent_count_gender = pd.DataFrame ({"Counts by Gender": count_by_gender,
                             "Percent Distribution by Gender ": percent_gender})
percent_count_gender

                       Counts by Gender  Percent Distribution by Gender
Gender
Female                               81                        14.062500
Male                                484                        84.027778
Other / Non-Disclosed                11                         1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
#Purchase Count by Gender
Purchase_by_gender = by_gender["Purchase ID"].count()

Purchase_by_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [53]:
# Average Price by Gender

avg_price_by_gender = by_gender["Price"].mean()

avg_price_by_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [54]:
#Total Value of Purchase by Gender
Total_purchase_by_gender = Purchase_by_gender*avg_price_by_gender

Total_purchase_by_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [204]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Groups"] = pd.cut(df["Age"], age_bins, labels=group_names)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Purchase Count,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

In [79]:
# Distribution by Age 
by_Age_groups =df.groupby("Age Groups")
count_by_age = by_Age_groups["Age Groups"].count()
count_by_age

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Groups, dtype: int64

In [68]:
# Group by Bins and Purchase counts
by_Age_groups =df.groupby("Age Groups")
count_by_age = by_Age_groups["Age Groups"].count()
count_by_age

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Groups, dtype: int64

In [83]:
Age_grp_total = count_by_age.sum()
Age_grp_total

780

In [84]:
#Percent Distribution by Age 

percent_Age = count_by_age/Age_grp_total.sum()
percent_Age = percent_Age*100
percent_Age

Age Groups
<10       2.948718
10-14     3.589744
15-19    17.435897
20-24    46.794872
25-29    12.948718
30-34     9.358974
35-39     5.256410
40+       1.666667
Name: Age Groups, dtype: float64

In [89]:
#Summary Table of Age Demographics 

percent_count_Age = pd.DataFrame ({"Counts by Age": count_by_age,
                             "Percent Distribution by Age ": percent_Age})
percent_count_Age

            Counts by Age  Percent Distribution by Age
Age Groups
<10                    23                      2.948718
10-14                  28                      3.589744
15-19                 136                     17.435897
20-24                 365                     46.794872
25-29                 101                     12.948718
30-34                  73                      9.358974
35-39                  41                      5.256410
40+                    13                      1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
# Average Price by Age Group

avg_price_by_age = by_Age_groups["Price"].mean()

avg_price_by_age

Age Groups
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [91]:
#Total Value of Purchase by Age
Total_purchase_by_Age = count_by_age*avg_price_by_age

Total_purchase_by_Age

Age Groups
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
dtype: float64

In [92]:
#Average Purchase Total per Person by Age
avg_purchase_by_Age = Total_purchase_by_Age/count_by_age

avg_purchase_by_Age

Age Groups
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [93]:
#Summary Table Age Demographics Purchase Analysis
Age_Demographics_Purchase = pd.DataFrame ({"Counts by Age Groups": count_by_age,
                             "Avg Price by Age Groups ":avg_price_by_age,
                                "Purchase Value by Age" : Total_purchase_by_Age,
                                 "Average Purchase Total per Person by Age" : avg_purchase_by_Age})
Age_Demographics_Purchase

,Average Purchase Total per Person by Age,Avg Price by Age Groups,Counts by Age Groups,Purchase Value by Age
Age Groups,,,,
<10,3.353478,3.353478,23,77.13
10-14,2.956429,2.956429,28,82.78
15-19,3.035956,3.035956,136,412.89
20-24,3.052219,3.052219,365,1114.06
25-29,2.900990,2.900990,101,293.00
30-34,2.931507,2.931507,73,214.00
35-39,3.601707,3.601707,41,147.67
40+,2.941538,2.941538,13,38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [249]:
# Top 5 Spenders - finding the top spenders from the original database by count and then sorting by ascending 
by_spender =df.groupby("SN")
count_by_spender = by_spender["SN"].count()
 
#Avg Purchase Price
avg_price_Spender = by_spender["Price"].mean()
 
#Total Purchase Value
Total_purchase_by_top_Spender = count_by_spender*avg_price_Spender
Total_purchase_by_top_Spender

#Dataframe for top five spenders 

Top_5_spenderdf = pd.DataFrame ({"Purchase Count  by Spender":count_by_spender,
                                "Average Price by Spender" : avg_price_Spender,
                                 "Total Purchase Value by Spender" : Total_purchase_by_top_Spender})

Top_5_spender= Top_5_spenderdf.sort_values('Total Purchase Value by Spender', ascending = False)
Top_5_spender.head()

,Average Price by Spender,Purchase Count by Spender,Total Purchase Value by Spender
SN,,,
Lisosia93,3.792000,5,18.96
Idastidru52,3.862500,4,15.45
Chamjask73,4.610000,3,13.83
Iral74,3.405000,4,13.62
Iskadarya95,4.366667,3,13.10

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [278]:
# Most Popular Items 

Itemdf= df[["Item ID","Item Name","Price"]]
Itemdf.head()
               
by_Item =Itemdf.groupby(["Item ID","Item Name"])
by_Item.head()

count_by_Item = by_Item["Item ID"].count()
count_by_Item 



#Avg Purchase Price
avg_price_Item = by_Item["Price"].mean()
            
#Total Purchase Value
Total_purchase_by_Item = count_by_Item*avg_price_Item
Total_purchase_by_Item

#Dataframe for top five Items by Value Count 

Top_5_Itemdf = pd.DataFrame ({"Purchase Count  by Item":count_by_Item ,
                                "Average Price by Item" : avg_price_Item,
                                 "Total Purchase Value by Item" : Total_purchase_by_Item})

Top_5_Items= Top_5_Itemdf.sort_values('Purchase Count  by Item', ascending = False)
Top_5_Items.head()

,,Average Price by Item,Purchase Count by Item,Total Purchase Value by Item
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [280]:
#Dataframe for top five Items by Value of Total Purchase : MOST P

Top_5_Itemdf = pd.DataFrame ({"Purchase Count  by Item":count_by_Item ,
                                "Average Price by Item" : avg_price_Item,
                                 "Total Purchase Value by Item" : Total_purchase_by_Item})

Most_Profitable_Items= Top_5_Itemdf.sort_values('Total Purchase Value by Item', ascending = False)
Most_Profitable_Items.head()

,,Average Price by Item,Purchase Count by Item,Total Purchase Value by Item
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80